body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #1b375e;
}

.productos-destacados h2{
    font-size: 28px;
    background-color: #2f5d9a;
    text-align: center;
}

.imagenes-productos-destacados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    justify-items: center;
}

.footer-características {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 60px;
    color: #444;
    

}

.caracteristica {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    text-align: center;
}

.caracteristica p {
    font-size: 12px;
    color: #444;
    margin-top: 8px;
}

.caracteristica img {
    width: 30px;
    height: auto;
    margin-bottom: 8px;
}

.suscribirse-redes {
    background-color: #f4f4f4; /* fondo suave */
    padding: 15px 10px;
}

.PRUEBA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    gap: 30px;
}

.newsletter-formulario {
    display: 1;
    max-width: 60%;
}

.newsletter-formulario form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.newsletter-formulario input {
    padding: 8px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter-formulario button {
    background-color: #bd202f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.redes-sociales {
    flex: 1;
    max-width: 35%;
    text-align: right;
}
.redes.sociales .iconos-redes {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.iconos-redes img {
    width: auto;
    height: 30px;

}

.footer-contacto-preguntas {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 60px;
  background-color: #2f5d9a; 
  flex-wrap: wrap;
  gap: 20px;
}

.footer-contacto-preguntas .contacto,
.footer-contacto-preguntas .preguntas-frecuentes {
  flex: 1;
  max-width: 45%;
}

.footer-contacto-preguntas p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}


.footer-contacto-preguntas p {
  margin: 5px 0;
  color: #000;
}

.imagenes-pago {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 30px 0;
}

.imagenes-pago img {
    height: 40px;
    width: auto;
    object-fit: contain;
}